<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Авторы библиотеки</title>
<!--    <script th:inline="javascript">-->
<!--        let flag = [[${exception}]]; //переменная-флаг Thymeleaf-->
<!--        window.onload = () => {-->
<!--            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()-->
<!--        };-->
<!--    </script>-->
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск автора</h3>
        <form method="POST" th:action="@{/authors/search}" th:object="${authorSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="authorFio" type="text" class="form-control" id="authorFio" placeholder="ФИО автора">
                        <label for="authorFio">ФИО автора</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти автора</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все авторы библиотеки</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                   th:href="@{/authors/add}"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить автора</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col" class="col-md-5">Описание</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <td>
                        <a class="text-link text-blue" th:href="'/authors/' + ${author.getId()}" th:text="${author.getAuthorFio()}"></a>
                    </td>
                    <td th:text="${author.getBirthDate()}"></td>
                    <td th:text="${author.getDescription()}"></td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">
                            <a class="btn btn-sm btn-outline-success" th:href="'/authors/update/' + ${author.getId()}">Обновить</a>
                            <a th:if="${!author.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/authors/delete/' + ${author.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить автора?');">Удалить</a>
                            <a th:if="${author.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/authors/restore/' + ${author.getId()}">Восстановить</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
<!--        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body" th:text="${exception}">-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!--Модальное окно для ошибок конец-->
        <div>
            <nav aria-label="Pagination" th:if="${authors.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${authors.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/authors?page={id}(id=${authors.number lt 2 ? 1 : authors.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq authors.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, authors.totalPages, 1)}">
                        <a class="page-link" th:href="@{/authors?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${authors.number eq authors.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/authors?page={id}(id=${authors.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>